<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/bootstrap-table.css"/>
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
</head>
<body>
<button onclick="InitTable()">点我</button>
<table id="table"></table>

<script type="text/javascript" th:inline="javascript">
    function InitTable() {
        //初始化Table
        $("#table").bootstrapTable('destroy');
        $('#table').bootstrapTable({
            url: '/customer/1/history',
            method: 'GET',
            striped: true,
            pagination: true,
            sidePagination: "client",
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            height: 500,
            columns: [
                {
                    field: 'sequence_no',
                    title: '交易流水号'
                }, {
                    field: 'shop_info',
                    title: '店铺名',
                    formatter: function (value) {
                        return value.shopName;
                    }
                },{
                    field: 'product_basical_list',
                    title: '商品名字',
                    formatter: function (value) {
                        if(value.length!=0){
                            console.log(value[0])
                            console.log(value[0].product_name)
                            return value[0].product_name;
                        }
                        return value;
                    }
                }, {
                    field: 'product_basical_list',
                    title: '参考图片',
                    formatter: function (value) {
                        console.log(value)
                        if(value.length!=0){
                            return "<img src="+value[0].product_img+"/>";
                        }return value;
                    }
                }, {
                    field: 'pay_money',
                    title: '订单额'
                }, {
                    field: 'pay_type',
                    title: '订单类型',
                    formatter: function (value) {
                        if(value==1){
                            return "交易完毕"
                        }else if(value==0){
                            return "代付款"
                        }else {
                            return "已发货"
                        }
                    }
                }]
        });
    }
</script>
</body>
</html>